
/* The code on lines 3-7 makes the background of the header black and the text of the title of the webpage white. Change this to match what you want for your website! */
header {
    background-color: black;
    color: white;
    padding: 128px 16px;
}
img{
    width: 50%;
    padding: 0px 0px;
    border: 10px solid #87CEEB;
}

.alt
{display: flex; justify-content: center;
}
.orange{
    color: blue;
}
.blue{
    color: black;
}